{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br> 
<main role="main">
    <div>
        <div class="bg-light p-5 rounded">
            <div class="col-sm-8 mx-auto">
                <h1>Welcome</h1>
                <p>This is a sample blog made using Flask. Its a short blog used in training myself for flask</p>
                <p>I've have some experience with python but for datascience and not web development. Here's a link to my github 
                    check it out.</p>
                <p>
                    <a class="btn btn-primary" href="https://github.com/chenane88/DataScience-Journey" role="button">My GitHub &raquo;</a>
                </p>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}